<div class="login-container">
<h3 class="login-container__title">Login</h3>
<form class="login-container__form">
    <div class="login-container__form__item">
      <label class="login-container__form__item__label" for="userName">Usuário:</label>
      <input class="login-container__form__item__input" type="text" name="userName" id="userName"/>
    </div>
    <div class="login-container__form__item">
      <label class="login-container__form__item__label" for="password">Senha:</label>
      <input class="login-container__form__item__input"type="password" name="password" id="password">
    </div>
    <div class="login-container__form__item">
      <input class="login-container__form__item__button"type="submit" value="Login">
    </div>
    <div class="login-container__form__social-network">
      <a class="login-container__form__social-network__link"><img src="assets/home/login/facebook-icon.svg" width="50" height="auto"/></a>
      <a class="login-container__form__social-network__link"><img src="assets/home/login/google-icon.svg" width="50" height="auto"/></a>
      <a class="login-container__form__social-network__link"><img src="assets/home/login/pinterest-icon.svg" width="50" height="auto"/></a>
    </div>
</form>
  <p class="login-container__form__create">Ainda não possui conta? <a href="google.com">registre-se</a></p>
</div>
