.login-container {
  margin-top: -6rem;

  width: 26rem;
  height: auto;
  background-color: rgba(202, 207, 212, 0.6);
  padding: 2rem;
  border-radius: 0.5rem;

  &__title {
    font-size: 1.5rem;
    text-align: center;
    color: #313131;
    margin-bottom: 5rem;
  }

  &__form {
    width: 100%;
    margin-top: -4rem;

    &__item {
      text-align: center;
      margin-bottom: 2rem;
      &__label {
        font-size: 1rem;
        font-weight: 500;
        display: block;
        margin-bottom: 0.2rem;
        color: rgb(11, 8, 53);
      }

      &__input {
        padding: 0.4rem 3rem;
        width: 100%;
        border-radius: 0.4rem;
        border: 1px solid #919191;
        outline: none;
      }

      &__button {
        width: 60%;
        padding: 0.2rem 4rem;
        background-color: rgb(74, 114, 246);
        border: 1px solid #919191;
        border-radius: 0.4rem;
        text-align: center;

        color: white;
        font-size: 0.9rem;
        cursor: pointer;
      }
    }

    &__social-network {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 1rem;

      &__link {
        cursor: pointer;
      }
    }

    &__login {
      text-align: center;
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 1300px) {
  .login-container {
    margin-top: -10rem;

    width: 20rem;
    height: 44rem;

    &__title {
      font-size: 1.2rem;
    }

    &__form {
      &__item {
        &__label {
          font-size: 0.8rem;
        }

        &__button {
          font-size: 0.8rem;
        }
      }

      &__social-network {
        &__link {
          width: 30px;
          height: auto;
        }
      }

      &__create {
        text-align: center;
        font-size: 0.8rem;
      }
    }
  }
}
