<footer class="footer">
  <div class="footer__description">
    <p class="footer__description__phrase">Uma rede social para quem ama gatinhos! ❤️🐱</p>
  </div>
  <div class="footer__author-info">
    <p class="footer__author-info__name">Desenvolvido com ❤️ por <i>Henrique Vieira</i></p>
    <div class="footer__author-info__social-networks">
      <a target="blank" href="https://github.com/henricker"><img src="assets/footer/github-icon.svg" alt="logotipo do github" width="20" height="auto"/></a>
      <a target="blank" href="https://www.instagram.com/henriicker"><img src="assets/footer/instagram-icon.svg" alt="logotipo do instagram" width="20" height="auto"/></a>
      <a target="blank" href="https://www.linkedin.com/in/henrique-vieira-406b781a7"><img src="assets/footer/linkedin-icon.svg" alt="logotipo do linkedin" width="20" height="auto"/></a>
    </div>
  </div>
</footer>
